POSTGRES_DB=techworkflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SIGNING_KEY=change-me-min-32-chars-long-signing-key
JWT_ISSUER=TechWorkFlow
JWT_AUDIENCE=TechWorkFlow.Client

BACKEND_HTTP_PORT=8080
FRONTEND_HTTP_PORT=8081
